.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button {
    width: 150px;
    height: 50px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    border: 2px solid #512da8;
    color: #512da8;
    margin: 10px;
}

.button:hover {
    background-color: #512da8;
    transition: all 0.3s ease-in-out;
    border: none;
    color: white;
    font-size: 24px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}